
.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 30 px;
  text-align: left;
  margin-top: auto;
}

.flex-item-left {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 200px
  /* flex-grow: 1 */
}

.flex-item-right {
  /* background-color: #f0f6f7; */
  padding: 10px;
  flex: 50%;
  flex-grow: 5
}
/* responsive layout- makes it one colum */
@media (max-width: 800px){
  .flex-container{
    flex-direction: column;
  }
}


a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}


.a-button {
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none!important;
  position: relative;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
  white-space: nowrap;
}

