
* {
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

.Summary {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.all-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
}

.imgItem {
  margin: 5px;
  /* width: 100%; */
  width: 153px;
  height: 153px;


}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30 px;
  text-align: left
  /* flex-wrap: nowrap; */
}
.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 200px
  /* flex-grow: 1 */
}

.flex-item-right {
  background-color: #c1edf1;
  padding: 10px;
  flex: 50%;
  flex-grow: 5
}
/* responsive layout- makes it one colum */
@media (max-width: 800px){
  .flex-container{
    flex-direction: column;
  }
}

/* .flex-container > div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

#tdBar {
  display: table-cell;
  vertical-align: inherit;
  width: 100px;
  background-color: #FFA500;
  background-size: 50% 100%;
}

/* .red
{
    background-color: red;
    width: 10px;
    height: 5px;
}
.white
{
    background-color: #f5faf5;
    width: 90px;
    height: 5px;
} */

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}

.padding-on-right {
  padding-right: 55px;
}

.a-button {
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none!important;
  position: relative;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
  white-space: nowrap;
}
